{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[.{1,2}/]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
