{
  "branches": [
    "main",
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://github.com/ardriveapp/turbo-sdk",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./packages/turbo-sdk/update-version.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "packages/turbo-sdk"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "packages/turbo-sdk/bundles/web.bundle.min.js",
            "label": "Web Bundle (${nextRelease.version})"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "packages/turbo-sdk/src/version.ts",
          "packages/turbo-sdk/package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
