{
  "branches": [
    "main",
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://github.com/ardriveapp/turbo-sdk",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i.bak -e \"s/export const version = '.*';/export const version = '${nextRelease.version}';/\" src/version.ts && rm src/version.ts.bak && sed -i.bak -e \"s/export const version = '.*';/export const version = '${nextRelease.version}';/\" lib/cjs/version.js && rm lib/cjs/version.js.bak && sed -i.bak -e \"s/export const version = '.*';/export const version = '${nextRelease.version}';/\" lib/esm/version.js && rm lib/esm/version.js.bak"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "assets": [
          "dist/**"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "src/version.ts",
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
