name: Release

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - alpha

jobs:
  build:
    uses: ardriveapp/turbo-sdk/.github/workflows/build.yml@alpha
    secrets: inherit
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}
      - name: Set Up node
        uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version-file: .nvmrc

      - name: Install dependencies
        run: yarn --immutable --immutable-cache

      - name: Build
        run: yarn build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        run: yarn semantic-release

      - name: Publish Dist Tag
        run: |
          VERSION=$(cat package.json | jq -r .version)
          if [ -z "$VERSION" ] || [ "$VERSION" = "null" ]; then
            echo "Error: Failed to extract version from package.json"
            exit 1
          fi
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout --orphan dist
          git reset
          git add lib/** bundles/** README.md LICENSE.md package.json -f
          git commit -m "chore(dist): release version v${VERSION} [skip ci]" --no-verify
          git push origin dist --force
          git tag v${VERSION}-dist
          git push origin v${VERSION}-dist
